{% extends "layout.html" %}

{% block body %}
<h1>Class Funds</h1>
<div id="mytable">
    <table class="table-striped table table-bordered">
        <col style="width:20%">
        <col style="width:50%">
        <col style="width:30%">
        <thead>
            <tr>
                <th>Index #</th>
                <th>Name</th>
                <th>Funds</th>
            </tr>
        </thead>
        <tbody>
            {% for fund in funds %}
            <tr>
                <td>{{ fund[0] }}</td>
                <td>{{ fund[1] }}</td>
                <td>{{ fund[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="submission">
    <span>
        <form action="/funds" method="post">
            <select name="group" class="custom-select d-flex">
                <option disabled selected value="">Select an option</option>
                <option value="etasds">Test option</option>
            </select>
            <input type="number" name="amt" placeholder="Amount">
            <input type="submit" value="Update">
        </form>
    </span>
</div>

<div class="clearfix"></div>
{% endblock %}
