{% extends "layout.html" %}

{% block title %}
Class Funds
{% endblock %}

{% block onload %}
onload="getOption()"
{% endblock %}

{% block body %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="alert {{ category }} d-flex align-items-center">
        <p class="mb-0"><strong>{{ message }}</strong></p>
        {% if category=='alert-success' %}
        <p class="mb-0 ml-auto"><em>Didn't mean to? Click here to undo:</em></p>
        <form action="/undo" method="post" class="ml-2 mr-3" >
            <input type="submit" value="UNDO" name="undo" class="btn btn-xs btn-danger">
        </form>
        {% endif %}
        <button type="button" class="close {% if category!='alert-success' %}ml-auto{% endif %}" data-dismiss="alert">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg>
        </button>
    </div>
    {% endfor %} 
    {% endwith %}
</div>

<div id="funds_table">
    <table id="fixed_header" class="table-striped table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Funds</th>
            </tr>
        </thead>
        <tbody>
            {% for fund in funds %}
            <tr>
                <td>{{ fund.id }}</td>
                <td>{{ fund.name }}</td>
                <td>{{ "${:.2f}".format(fund.funds/100) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if current_user.is_authenticated %}

<div class="submission">
    <form action="/funds" method="post" class="form">
        {{ form.hidden_tag() }}
        <div class="form-group d-sm-flex">
            <select id="group" name="group" onchange="getOption()" class="custom-select">
                <option value="" disabled>Select a Group</option>
                {% for option in form.group %}
                    {{ option }}
                {% endfor %}
            </select>
        </div>
        <div class="form-group mr-2" id="indv">
            {{ form.indiv(class_="custom-select") }}
        </div>
        <div class="form-group d-sm-flex">
            {{ form.amt(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.rmks(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</div>

{% endif %}

<div class="clearfix"></div>


<script type="text/javascript">
    function getOption() {
        selectElement = document.querySelector('#group');
        group = selectElement.value;
        x = document.getElementById("indv");
        if (group === "Individual Add" || group === "Individual Subtract") {
            x.style.display = "inline";
            x.style.float = "left";
        } else {
            x.style.display = "none";
        }
    }
</script>
{% endblock %}
