{% extends "layout.html" %}

{% block body %}

    <h1>Class Funds</h1>
    <table>
        <thead>
            <tr>
                <th>Index number</th>
                <th>Name</th>
                <th>Funds</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for fund in funds %}
            <tr>
                <td>{{ fund[0] }}</td>
                <td>{{ fund[1] }}</td>
                <td>{{ fund[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
