{% extends "layout.html" %}

{% block onload %}
onload="onLoadFunc()"
{% endblock %}

{% block title %}
Edit
{% endblock %}

{% block body %}
<form action="/edit" method="post" class="form">
    <div id="funds_table">
        <table id="fixed_header" class="table-striped table table-bordered">
            <thead>
                <tr class="rm_lr">
                    <th>#</th>
                    <th>Name</th>
                    <th class="H2_Physics">H2 Physics</th>
                    <th class="H2_Math">H2 Mathematics</th>
                    <th class="H2_Economics">H2 Economics</th>
                    <th class="H2_Computing">H2 Computing</th>
                </tr>
            </thead>
            <tbody>
                {% for student in funds %}
                <tr class="rm_lr">
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    {% for subject in subjects %}
                        <td class="{{ '_'.join(subject.subject_name.split()) }}"><input type="checkbox" name="{{ '_'.join(subject.subject_name.split()) }}" value="{{ student.id }}" {{ "checked" if subject in student.groups }}></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-group d-sm-flex submission">
        <select class="custom-select mr-3" name="select_group" id="select_group" onchange="getGroupOption()">
            <option selected value="" disabled >Select a group</option>
            <option value="H2_Physics">H2 Physics</option>
            <option value="H2_Math">H2 Math</option>
            <option value="H2_Economics">H2 Econs</option>
            <option value="H2_Computing">H2 Comp</option>
        </select>
        <div class="form-group">
            <input type="submit" value="Edit Group(s)" class="btn btn-primary">
        </div>
    </div>

</form>

<script type="text/javascript">
    function onLoadFunc() {
        var hide_col_a = document.querySelectorAll("#funds_table tbody tr");
        var hide_col_b = document.querySelectorAll("#funds_table thead tr");

        hide_col_a.forEach(elem => {
            elem.style.gridTemplateColumns = "0.5fr 2.5fr"
        });

        hide_col_b.forEach(elem => {
            elem.style.gridTemplateColumns = "0.5fr 2.5fr"
        });

        const sbj_list = ["H2_Physics", "H2_Economics", "H2_Math", "H2_Computing"];
        var cols=document.getElementById("select_group").value;
        
        
        for (var i=0; i<sbj_list.length; i++) {
            var this_col = document.getElementsByClassName(sbj_list[i]);
            for(var j=0;j<this_col.length; j++) {
                this_col[j].style.display="none";
            }
        }
    }

    function getGroupOption() {
        const sbj_list = ["H2_Physics", "H2_Economics", "H2_Math", "H2_Computing"];
        var cols=document.getElementById("select_group").value;
        
        var hide_col_a = document.querySelectorAll("#funds_table tbody tr");
        var hide_col_b = document.querySelectorAll("#funds_table thead tr");

        hide_col_a.forEach(elem => {
            elem.style.gridTemplateColumns = "0.5fr 2.5fr 1fr"
        });

        hide_col_b.forEach(elem => {
            elem.style.gridTemplateColumns = "0.5fr 2.5fr 1fr"
        });

        for (var i=0; i<sbj_list.length; i++) {
            var this_col = document.getElementsByClassName(sbj_list[i]);
            if (sbj_list[i] != cols) {
                for(var j=0;j<this_col.length; j++) {
                    this_col[j].style.display="none";
                }
            } else {
                for(var j=0;j<this_col.length; j++) {
                    this_col[j].style.display="table-cell";
                }
            }
        }
    }
    </script>
{% endblock %}