{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="alert {{ category }} d-flex align-items-center">
        <p class="mb-0"><strong>{{ message }}</strong></p>
        
        <button type="button" class="close {% if category!='alert-success' %}ml-auto{% endif %}" data-dismiss="alert">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg>
        </button>
    </div>
    {% endfor %} 
    {% endwith %}
</div>

<div style="width: 50vw; margin: 20vh 23vw;" >
    <form action="/login" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class_="form-control") }}
        </div>
        <div class="form-check">
            {{ form.remember_me(class_="form-check-input")}}
            {{ form.remember_me.label }}
        </div>
        {{ form.submit(class_="btn btn-primary") }}
    </form>
</div>

{% endblock %}