{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
{% if session["name"] %}
<h1>Logged in as {{ session["name"] }}. </h1>
{% else %}
<div style="width: 50vw; margin: 20vh 23vw;" >
    <form action="/login" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class_="form-control") }}
        </div>
        <div class="form-check">
            {{ form.remember_me(class_="form-check-input")}}
            {{ form.remember_me.label }}
        </div>
        {{ form.submit(class_="btn btn-primary") }}
    </form>
</div>
{% endif %}
{% endblock %}