{% extends "layout.html" %}

{% block title %}
Logs
{% endblock %}

{% block body %}
<h1>Logs</h1>
<div class="accordion">
    {% for log in logs %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ log["date1"] }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ log["date1"] }}"
                    aria-expanded="true" aria-controls="collapse{{ log["date1"] }}">
                    {{ log["grp"] }} - {{ "${:.2f}".format(log["amt"]/100) }}
                </button>
            </h2>
            <div id="collapse{{ log["date1"] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ log["date1"] }}">
                <div class="accordion-body">
                    <p>Total changed: {{ "${:.2f}".format(log["total_changed"]/100) }}</p>
                    <p>Total before: {{ "${:.2f}".format(log["total_before"]/100) }}</p>
                    <p>Total after: {{ "${:.2f}".format(log["total_after"]/100) }}</p>
                    <p>Date: {{ log["date2"] }}</p>
                    <p>Number of people affected: {{ log["num_affected"] }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
