body {
    font-family: Arial, Helvetica, sans-serif;
}

#mytable {
    float: left;
    width: 50vw;
    margin-left: 7vw;
}

#mytable table thead th {
    vertical-align: middle;

}

.funds_display {
    float: left;
    width: 65%;
}

.submission {
    float: left;
    margin-left: 50px;
}

.clearfix {
    clear: both;
}