body {
    font-family: Arial, Helvetica, sans-serif;
}

#mytable {
    float: left;
    width: 50vw;
    margin-left: 2vw;
    padding-top: 2vh;
}

.submission {
    float: left;
    padding-top: 10vh;
    margin-left: 2vw;
}

.clearfix {
    clear: both;
}

#mytable {
    table-layout: auto;
    border-collapse: collapse;
    text-align: left;
}
  
#mytable tbody {
    display: block;
    width: 100%;
    overflow: overlay;
    height: 78vh;
}

#mytable tbody tr,
#mytable thead tr {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr;
}
  
#mytable thead th,
#mytable tbody th,
#mytable tbody td {
    padding: 12px 15px 12px 10px;
}