body {
    font-family: Arial, Helvetica, sans-serif;
}

#funds_table {
    float: left;
    width: 40vw;
    margin-left: 2vw;
    padding-top: 2vh;
}

.submission {
    float: left;
    padding-top: 10vh;
    margin-left: 2vw;
}

.clearfix {
    clear: both;
}

#funds_table {
    table-layout: auto;
    border-collapse: collapse;
    text-align: left;
}

#funds_table tbody {
    display: block;
    width: 100%;
    overflow: overlay;
    height: 72vh;
}

#funds_table tbody tr,
#funds_table thead tr {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr;
}

#funds_table thead th,
#funds_table tbody th,
#funds_table tbody td {
    padding: 12px 15px 12px 10px;
}

.accordion {
    padding: 2vw;
}

h1 {
    padding-left: 2vw;
    padding-top: 2vw;
}